<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script><script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script>$(function() { $( "#accordion" ).accordion(); }); </script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	</head>

<body>
	<strong>Found <%=@issue_count%> open issues across <%=@gem_list.count%> gems you depend on. Happy hacking!</strong>

	<div id='accordion'>
	<%= @html_content %>
	</div>
</body>
</html>