<html>
	<head>
		<title>gem-gratitude - Give back to the gems you depend on</title>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
		<script>$(function() { $( "#accordion" ).accordion({ heightStyle: "content" }); });</script>
		<style type="text/css">
			body {
				font-family: 'Arial', sans-serif;
				font-size: 0.9em;
				color: #333;
				margin: 3em;
			}

			h1.main_title {
				margin-top: 1em 0 0.5em;
			}
			h1.main_title a {
				font-size: 12px;
			}
			h3.sub_title {
				color: #666;
				margin-bottom: 2em;
			}

			.ui-accordion-header {
				cursor: pointer;
				background: #eee;
				margin: 0;
				padding: 10px;
				border-bottom: 1px solid #ccc;
				font-weight: normal;
				color: #666;
			}
			.ui-accordion-content {
				padding: 1em 4em;
				font-size: 1.2em;
			}
			.ui-accordion-content .github_link {
				font-weight: bold;
				text-align: right;
				float: left;
				margin: 1.5em;
				width: 100%;
			}

			img {
				max-width: 100%;
				max-height: 100%;
			}

			.label {
				display:inline-block;
				padding-top: 0.2em;
				padding-bottom: 0.2em;
				padding-left: 0.3em;
				padding-right: 0.3em;
				margin-right: 0.5em;
				border-radius: 5px;

				color: #FFF;
			}
		</style>
	</head>

	<body>
		<h1 class="main_title">gem-gratitude <a href="https://github.com/danbartlett/gem-gratitude">View on GitHub</a></h1>
		<h3 class="sub_title">Found <%=@issue_count%> open issues across <%=@gem_list.count%> gems you depend on. Happy hacking!</h3>

		<div id='accordion'>
			<%= @html_content %>
		</div>
	</body>
</html>
